@model DoiTuong
<form id="" name="" action="" method="post" enctype="multipart/form-data" class="mws-form">
    <div class="mws-form-inline">
        <div class="mws-form-row">
            <div class="mws-form-cols">
                <div class="mws-form-col-4-8">
                    <label class="mws-form-label">Họ & Tên:</label>
                    <div class="mws-form-item">@Model.HoTen</div>
                </div>
                <div class="mws-form-col-4-8">
                    <label class="mws-form-label">Mức TC:</label>
                    <div class="mws-form-item">@if (Model.MucTC.HasValue){<text>@((int)Model.MucTC.Value)</text>}else{<text>N/A</text>}</div>
                </div>
            </div>
        </div>
        <div class="mws-form-row">
            <div class="mws-form-cols">
                <div class="mws-form-col-4-8">
                    <label class="mws-form-label">Tỉnh:</label>
                    <div class="mws-form-item">@Model.Province_Name</div>
                </div>
                <div class="mws-form-col-4-8">
                    <label class="mws-form-label">Huyện:</label>
                    <div class="mws-form-item">@Model.District_Name</div>
                </div>
            </div>
        </div>
        <div class="mws-form-row">
            <div class="mws-form-cols">
                <div class="mws-form-col-4-8">
                    <label class="mws-form-label">Xã:</label>
                    <div class="mws-form-item">@Model.Village_Name</div>
                </div>
                <div class="mws-form-col-4-8">
                    <label class="mws-form-label">Xóm:</label>
                    <div class="mws-form-item">@Model.Hamlet_Name</div>
                </div>
            </div>
        </div>
        <div class="mws-form-row">
            <label class="mws-form-label">Loại:</label>
            <div class="mws-form-item">@Model.MaLDT_Name</div>
        </div>
    </div>
</form>
