@model List<DoiTuong>

<table class="mws-table" id="ListTable">
    <thead>
        <tr>
            <th>Họ & Tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Loại</th>
            <th>Tình trạng</th>
            <th>TT (duyệt)</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model ?? Enumerable.Empty<DoiTuong>())
        {
            <tr data-id="@item.Id">
                <td style="text-align:left;">
                    <span>@item.HoTen</span>
                </td>
                <td style="text-align:left;">
                    <span>@item.ToStringNgaySinh()</span>
                </td>
                <td style="text-align:left;">
                    <span>@item.GioiTinh.GetGender()</span>
                </td>
                <td style="text-align:left;">
                    <span>@item.MaLDT_Name</span>
                </td>
                <td style="text-align:left;">
                    <span>@item.TinhTrang_Name</span>
                </td>
                <td style="text-align:center;">
                    <input type="checkbox" @if (item.IsDuyet) { <text>checked="checked"</text> } disabled="disabled">
                </td>
                <td style="text-align: center;" class="no_padding">
                    <span class="btn-group">
                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" style="text-align: left;"></ul>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />#Query: @ViewData["Query"]
@{
    int distance = 5;
    int currPage = (int)ViewData["CurrPage"];
    int pageSize = (int)ViewData["PageSize"];
    int totalItem = (int)ViewData["TotalItem"];
    int totalPage = (int)ViewData["TotalPage"];

    var viewData = new ViewDataDictionary();
    viewData.Add("Distance", distance);
    viewData.Add("CurrPage", currPage);
    viewData.Add("PageSize", pageSize);
    viewData.Add("TotalItem", totalItem);
    viewData.Add("TotalPage", totalPage);
    @Html.Partial("_PagerTable", viewData);
}
