@model List<Product_Category>
@{
    Layout = "~/Themes/Photobookmart/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Photobook Prices and Sizes";
    var country = CurrentCountry;
    var id = ("pricing_optional_" + country.Code.ToLower()).Trim();
    Db.Close();
}
@section _ClassBody
{
class="page page-template-default stretched open_sans open_sans dynamic-template";
}
<div class='container_wrap  main_color fullsize'>
    <div class='container'>
        <div class='content twelve alpha units template-dynamic template-dynamic-prices'>
            @Html.Action("Widget_BigBanner", "Product")
            <div class='post-entry post-entry-dynamic dynamic_element dynamic_el_2'>
                <div class='entry-content'>
                    <h1 class='post-title dynamic-post-title'>
                        Photobook Prices and Sizes</h1>
                    <table border="0" cellspacing="0" cellpadding="3">
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <strong>Size</strong>
                                </td>
                                <td>
                                    <strong>Pages</strong>
                                </td>
                                <td>
                                    <strong>Price</strong>
                                </td>
                                <td>
                                    <strong>Additional Page</strong>
                                </td>
                            </tr>
                            @foreach (var e in Model ?? Enumerable.Empty<Product_Category>())
                            {
                                <tr>
                                    <td colspan="5" bgcolor="#e6e8eb">
                                        <a id="@e.Name"><strong>@e.Name</strong></a>
                                    </td>
                                </tr>
                                @Html.Action("Pricing_ProductDetail", new { catId = e.Id })
                            }
                            <tr>
                                <td colspan="5" bgcolor="#e6e8eb">
                                    <strong>Optional</strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" valign="top">
                                    @Html.Action("Embed", "Topic", new { id = id, header = false, ignore_on_error = true })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
